*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    display:flex;
    gap:100px;
}
.image{
    width:200px;
    height:200px;
    border-radius: 30px;
    padding:10px;
}
.image2{
    width:200px;
    height:200px;
    padding:10px;
}
.image3{
    width:200px;
    height:200px;
    border-radius: 50%;
    padding:10px;
}
